.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.link{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.link:hover{
    cursor: pointer;
    opacity: 1;
    color: white;
}